        /* .carousel-item {
            height: 480px;
        }
         */



        /* .im1 {

            width: 100%;

        } */

        .top-bar {

            background-color: #5e068a;
            color: white;
            padding-top: 10px;
            font-size: 12px;

        }

        /* .firstim{

            height: 60px;
            width: 250px;
            
        } */

        .link1 {

            color: white;
            background-color: transparent;
            text-decoration: none;
        }

        .head1 {

            top: 30px;
        }

        .btc {
            color: rgb(246, 243, 248);
            background-color: blueviolet;
            border-radius: 20px;
        }

        .bor {
            border: 0px;
        }

        .cls-btn {

            margin-left: 754px;

        }

        .formm {
            width: 80%;
        }

        .submit {

            background-color: green;
            color: white;
            border-radius: 20px;

        }

        .first {

            color: blueviolet;

        }

        .second {
            color: #5e068a99;
        }

        /* .third{
            line-height: 28px;
            margin-bottom: 12px;
            color: black;
        } */

        .learn {

            color: rgb(241, 207, 18);
            background-color: blueviolet;
            border-radius: 20px;
            border: 0px;


        }

        .learn:hover {
            color: blueviolet;
            border: solid blueviolet;
            background-color: white;
        }

        .grid-image {

            width: 90%;
            margin-top: -45px;
        }


        .r-para {
            line-height: 28px;

        }

        .r-heading1 {
            font-weight: 700;
            font-size: 35px;
            color: #5e068a;

        }

        .r-heading2 {
            color: #9e6ab9;
        }

        .r-button {
            width: 22%;
            height: 60px;
            border-radius: 50px;
            background-color: #5e068a;
            color: white;
            font-weight: 600;
            font-size: 16px;
        }

        .r-button:hover {
            background-color: white;
            color: #5e068a;
            border: solid 2px #5e068a;
        }

        .r-img {
            width: 100%;
            height: 525.5px;
        }

        .fifth {
            background-color: #f5f5f5;
        }

        .fifth-h2 {
            color: #5e068a;
            font-weight: 600;
        }

        .fifth-span1 {
            color: #9e6ab9;
            font-weight: 600;
        }

        .r-img2 {
            width: 100%;
            margin-left: -23px;

        }

        .datascience {
            line-height: 1.8;
            font-size: smaller;
        }

        .fifth-one {
            transition: margin-top 0.10s;

        }


        .fifth-one:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin-top: -3px;


        }

        .fifth-h4 {
            font-weight: 500;
        }

        .fifth-link1 {
            color: #5e068a;
            background-color: transparent;
            text-decoration: none;
        }

        .fifth-link2 {
            color: #5e068a;
            background-color: transparent;
            text-decoration: underline;
            font-weight: 600;
        }



        @media(max-width:692px) {

            .carousel-caption {

                margin-top: 38px;

            }

            .heading-carousel {
                font-size: 20px;
            }

            .carousel-para {
                font-size: 16px;
            }
        }

        @media(max-width:1230px) {

            .heading-carousel {

                font-size: 30px;

                font-weight: 500;

            }

            .crsl-span {

                display: none;

            }

            .carousel-btn1,
            .carousel-btn2 {

                width: 120px;

                height: 70px;

                border-radius: 50px;

            }

        }


        .card {
            height: 470px;
            width: 90%;
        }

        .card-btn {
            background-color: #5e068a;
            color: white;
        }

        .card-btn:hover {
            background-color: #5e068a;
            color: white;
        }


        @media(max-width:992px) {
            .course-item-sec {
                grid-row-gap: 10px;
            }
        }

        @media(max-width:992px) and (min-width:776px) {
            .card {
                height: auto;
            }
        }

        @media(max-width:768px) {
            .phoneno {
                display: none;
            }
        }

        .next-sec {
            width: 100%;
            height: 200px;
        }

        .last-btn {
            border: 2px solid #5e068a;
            width: 169px;
            height: 60px;
            border-radius: 50px;
            color: #5e068a;
            font-weight: 600;
        }

        .last-btn:hover {
            background-color: #5e068a;
            color: white;
        }

        .card1:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin-top: -3px;

        }

        .card2:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin-top: -3px;
        }

        .card3:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin-top: -3px;
        }

        .title {
            color: #5e068a;
            background-color: transparent;
            text-decoration: none;
            font-weight: 700;
            font-size: 18;
        }

        .card-text {
            line-height: 1.8;
        }

        .last-sec {
            background-color: #f5f5f5;
            width: 100%;
        }

        @media(min-width:400px) {

            .firstim1 {

                height: 50px;
                width: 150px;

            }
        }